<app-disable-back></app-disable-back>
<div class="card my-5">
    <div class="card-body" style="background-color: aliceblue;width: 500px;">
      <mat-card style="margin:2em;">
        <mat-card-title>Reset Password</mat-card-title>
        <mat-card-content>
        <form *ngIf="resetDiv" (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div [hidden]="showDiv" [class]="cssStyle">{{validMessage}}</div>
            <mat-form-field>
            <label for="email">Email:</label><input type="text" [(ngModel)]="email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter your Email"
            required #name="ngModel">
          </mat-form-field>
          
          
          <button mat-raised-button color="primary" [disabled]="userForm.invalid">Reset</button>
          <a style="margin-left: 10px;" mat-raised-button color="primary" routerLink="/login" mat-button>LogIn</a>
        </form>
        <form *ngIf="changeDiv" (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div [hidden]="showDiv" [class]="cssStyle">{{validMessage}}</div>
            <mat-form-field>
            <label for="password">Password:</label><input type="password" [(ngModel)]="password" 
            class="form-control" 
            id="password" 
            name="password" 
            placeholder="Enter new password"
            required #name="ngModel">
          </mat-form-field>
          <mat-form-field>
            <label for="passwordConfirm">Re Confirm:</label><input type="password" [(ngModel)]="passwordConfirm" 
            class="form-control" 
            id="passwordConfirm" 
            name="passwordConfirm" 
            placeholder="Enter new password"
            required #name="ngModel">
          </mat-form-field>
          
          
          <button mat-raised-button color="primary" [disabled]="userForm.invalid">Change Password</button>
          <a style="margin-left: 10px;" mat-raised-button color="primary" routerLink="/login" mat-button>LogIn</a>
        </form>
      </mat-card-content>
      
    </mat-card>
  </div>
  </div>