<app-disable-back></app-disable-back>
<div class="card my-5">
    <div class="card-body" style="background-color: aliceblue;width: 500px;">
      <mat-card style="margin:2em;">
        <mat-card-title>Reset Password</mat-card-title>
        <mat-card-content>
        <form *ngIf="resetDiv" (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div [hidden]="showDiv" [class]="cssStyle">{{validMessage}}</div>
          <mat-form-field >
            <mat-label>Email:</mat-label>
            <input matInput  [(ngModel)]="email" 
          id="email" 
          name="email" 
          required #name="ngModel">
        </mat-form-field>
          
          
          <button mat-raised-button color="primary" [disabled]="userForm.invalid">Reset</button>
          <a style="margin-left: 10px;" mat-raised-button color="primary" routerLink="/login" mat-button>LogIn</a>
        </form>
        <form *ngIf="changeDiv" (ngSubmit)="onSubmit()" #userForm="ngForm">
          <div [hidden]="showDiv" [class]="cssStyle">{{validMessage}}</div>
          <mat-form-field>
            <mat-label>Password:</mat-label>
             <input matInput type="password" [(ngModel)]="password" 
             id="password" 
             name="password" 
             required #name="ngModel" placeholder="Enter new password"
             >
             </mat-form-field>
            
             <mat-form-field>
              <mat-label>Re Confirm:</mat-label>
               <input matInput type="password" [(ngModel)]="passwordConfirm" 
               id="passwordConfirm" 
               name="passwordConfirm" 
               required #name="ngModel" placeholder="Enter new password"
               >
               </mat-form-field>
          
          
          <button mat-raised-button color="primary" [disabled]="userForm.invalid">Change Password</button>
          <a style="margin-left: 10px;" mat-raised-button color="primary" routerLink="/login" mat-button>LogIn</a>
        </form>
      </mat-card-content>
      
    </mat-card>
  </div>
  </div>