<app-disable-back></app-disable-back>
<mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
      
      <span><button routerLink="/grouplisting" mat-button ><mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
        SplitWise</button></span>
      <span class="menu-spacer"></span>
      <div fxShow="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        
        <mat-form-field style="min-width: 450px;margin-left: auto;margin-right: auto;" floatLabel="never">
         <mat-icon matSuffix>search</mat-icon>
          <mat-label style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size: medium;">Search Users</mat-label>
          <input matInput  type="text"
        id="search" 
        name="search" (keyup)="searchUser($event)"
         >
      </mat-form-field>
        <button routerLink="/getusers" mat-button>Show Users</button>
        <button routerLink="/messages/{{user.id}}" mat-button ><mat-icon [matBadge]="unreadcount" overlap="false" matBadgePosition="before" [matBadgeHidden]="notificationhide || (unreadcount == '0')" matBadgeColor="accent">message</mat-icon>Messages</button>
        <button routerLink="/creategroup" mat-button>Create Group</button>
        <button [matMenuTriggerFor]="profile"  mat-button><mat-icon>account_circle</mat-icon>
     {{user.name}}</button>
          <mat-menu #profile="matMenu">
            <button routerLink="/viewprofile/{{user.id}}" mat-menu-item>View Profile</button>
            <button routerLink="/edituser/{{user.id}}" mat-menu-item>Edit Profile</button>
          </mat-menu>

        <button routerLink="/logout" mat-button>Logout</button>
        </div>
    </mat-toolbar-row>
  </mat-toolbar>

  
  <div *ngIf="show" class="card my-5" style="width: 600px;margin-left: auto;margin-right: auto;">
    <div class="card-body" style="background-color: aliceblue;">
      
            <mat-card  *ngFor="let user of users" style="margin:2em;">
              <mat-card-header>
                <div *ngIf="user.userImage == undefined" style="background-image: url('./assets/profilepic.jpg');" mat-card-avatar class="example-header-image"></div>
                <div *ngIf="user.userImage != undefined" [style.background-image]="'url(' + 'data:image/jpeg;base64,'+user.userImage.image  + ')'" mat-card-avatar class="example-header-image"></div>
              <mat-card-subtitle>
                
              <a routerLink="/viewprofile/{{ user.id }}">{{ user.name }}</a>
            </mat-card-subtitle>
            <mat-card-subtitle>
                
              {{ user.email }}
            </mat-card-subtitle>
            <mat-card-subtitle>
                
            {{user.followStatus === false ? 'Not Following' : 'Following'}}
            </mat-card-subtitle>
            
          </mat-card-header>
          <mat-card-actions>
            <!--
            <button [(id)]="user.id" *ngIf="user.followStatus == 'Not Following'" mat-raised-button color="primary" (click)="followUser($event,user.id)">Follow</button>
            <button [(id)]="user.id" *ngIf="user.followStatus == 'Following'" mat-raised-button color="warn" (click)="unFollowUser($event,user.id)">UnFollow</button>
            -->
            <button type="submit" mat-button id="color_{{user.id}}"
          class="btn btn-info" [ngStyle]="{'background-color': (user.followStatus === false) ? 'green' : 'red'}" (click)="followunfollowUser(user.id,$event)">{{user.followStatus === false ? 'Follow' : 'UnFollow'}}</button>
            <button mat-raised-button color="accent" (click)="gotoMessageDetails(currentUserId,user.id)"><mat-icon>message</mat-icon>Message</button>
          </mat-card-actions>
            </mat-card>
            </div>
            </div>