@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-form-field {
    width: 100%;
    
  }

.example-header-image {
  
    background-size: cover;
    height: 170px;
    width: 170px;
    margin-left: 110px;
    border-radius: 50%;
  }
  