<app-disable-back></app-disable-back>
<div class="card my-5" [hidden]="mainDiv" style="width: 600px;margin-left: auto;margin-right: auto;">
    <div class="card-body" style="background-color: aliceblue;">
      <mat-card style="margin:2em;">
        <mat-card-title>Sign Up</mat-card-title>
        <mat-card-content>
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <mat-form-field>
            <mat-label>Name:</mat-label>
            <input matInput  [(ngModel)]="user.name" 
          id="name"  placeholder="Enter Name"
          name="name" 
          required #name="ngModel">
          <mat-icon matSuffix>account_circle</mat-icon>
        </mat-form-field>
      </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Email:</mat-label>
            <input matInput  [(ngModel)]="user.email" 
          id="email"  placeholder="Enter Email"
          name="email" 
          required #name="ngModel" (blur)="emailExistsValidation()">
          <mat-icon matSuffix> email</mat-icon>
        </mat-form-field>
        <div [hidden]="hideEmailValidation" class="alert alert-danger">
          Email Id already Exists
        </div>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Password:</mat-label>
            <input matInput type="password"  [(ngModel)]="user.password" 
          id="password"  placeholder="Enter Password"
          name="password" 
          required #name="ngModel">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label>Confirm Password:</mat-label>
            <input matInput  [(ngModel)]="confirmPwd" type="password"
          id="confirmPwd"  placeholder="Confirm Password"
          name="confirmPwd" 
          required #name="ngModel">
          <mat-icon matSuffix>vpn_key</mat-icon>
        </mat-form-field>
        <div [hidden]="hidePasswordValidation" class="alert alert-danger">
          Passwords do not match
        </div>
        </div>

        <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>Date of Birth:</mat-label>
          <input matInput [matDatepicker]="dateOfBirth" id="dateOfBirth" name="dateOfBirth" required #name="ngModel" [(ngModel)]="user.dateOfBirth">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="dateOfBirth"></mat-datepicker-toggle>
          <mat-datepicker #dateOfBirth></mat-datepicker>
        </mat-form-field>
      </div>

        <div class="form-group">
          <label for="hobbies">Hobbies</label>
        <ng-multiselect-dropdown
        id="hobbies" 
            name="hobbies" 
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="user.hobbies"
       >
      </ng-multiselect-dropdown>
      <div [hidden]="hideHobbiesValidation" class="alert alert-danger">
        Please select Hobbies
      </div>
        </div>

      <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">
        Submit</button>
        
        <a style="margin-left: 10px;" mat-raised-button color="primary" routerLink="/login" mat-button>LogIn</a>
      </form>
      </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div [hidden]="divShow" class="alert alert-success">Details saved Successfully . Please Log In to Continue
    <br><button mat-raised-button color="primary" (click)="logIn()" >Log In</button>
  </div>